/* ***************** SELETORES ***************** */

/* SELETOR UNIVERSAL
* {
    border: 1px solid red;
} */

/* SELETOR DE TEXTO 
h1 {
    color: green;
} */

/* SELETOR DE CLASSE 
p.verde {
    color: green;
} */

/* SELETOR DE ID 
#cabecalho {
    border: 1px solid blue;
} */

/* SELETOR DE FILHO 
li>a {
    text-decoration: none;
    color: red;
} */

/* SELETOR DESCENDENTE
div a {
    text-decoration: none;
    color: green;
} */

/* SELETOR IRMÃO ADJACENTE 
h1+p {
    color: red;
} */

/* SELETOR IRMÃO GERAL
h1~p {
    color: green;
} */


/* ***************** HERANÇA E ESPECIFICIDADES ***************** */

/* HERENÇA 
body {
    color: red;
} */

/* ESPECIFICIDADE 
P {
    color: blue !important;
}

p {
    color: red;
}
*/

/* SEMPRE QUE HOUVER 2 SELETORES IGUAIS, O ÚLTIMO SERÁ APLICADO. SE USADO A EXPRESSÃO !IMPORTANT, DAÍ O SELETOR SERÁ USADO 

* {
    color: green;
}

h2 {
    color: palevioletred;
}

h2.verde {
    color: brown;
}

h2#amarelo {
    color: yellow;
}
*/

/* UM SELETOR MAIS ESPECÍFICO TERÁ PRECEDÊNCIA NA APLICAÇÃO DO QUE UM SELETOR UNIVERSAL */
/* UM ID TEM MAIS PRECEDÊNCIA DO QUE UMA CLASS */

/* ***************** NAVEGAÇÃO VERTICAL ***************** */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../imagens/menu.png) no-repeat left bottom;    
}

a:hover {
   background-position: right bottom; 
   background-color: #f99200;
   color: #fff;
}


#home #navegacao-lateral .home a, 
#sobre #navegacao-lateral .sobre a,
#servicoes #navegacao-lateral .servicoes a,
#noticias #navegacao-lateral .noticias a,
#contatos #navegacao-lateral .contatos a {
    background-position: right bottom;
    background-color: #f99200;
    color: #FFF;
}


